# Project exclude paths
/target/
/.idea/
/logs/
/config/*
!/config/checkstyle/
!/config/checkstyle/google_checks.xml
properties/app.properties
properties/jakarta_principal.properties
properties/mail.properties
pom.xml.releaseBackup
release.properties
